
<div class="index-list">

   <div class="index-listb">
      <h2>Travel Japan</h2>
    </div>

    <div class="index-listd">
       <h1>旅行診断</h1>
   </div>


   <div class="index-listc">
      <%= link_to "診断を始める", new_perfume_path, class: "link" %>
   </div>

</div>
