.index-list{
    
    text-align: center;
    background-image: url("./日本を象徴する風景【山梨県・新倉山浅間公園.jpg");
    background-size: cover;
   width: 100%;
   height: 900px;
}

.index-listb{
    padding:60px;
    font-size:60px;
    text-align: left;
}


.index-listd{
    padding:0px;
    font-size:80px;
}

.index-listc{
    font-size: 100px;
    border-radius: 300px;
    border: solid;
    margin-left:150px;
    margin-right:150px;
    padding-top: 40px;
    padding-bottom:40px;
    background-color: #e7e2e283;
    
}

.link{

    color:rgb(7, 6, 6);
    text-decoration:none;
   

}